@{
    ViewData["Title"] = "Algo salio mal";
    Layout = null;
}

<div class="text-center">
    <h1 class="display-4">Error 400</h1>
    <h1 class="display-4">Ocurrio un error en la lectura del CSV.</h1>
    <h3 class="display-3">Compruebe el formato y reenvielo</h3>
    <h3 class="display-3">Consulte el manual para verificar el formato correcto</h3>
</div>