@{
    ViewData["Title"] = "Algo salio mal";
    Layout = null;
}

<div class="text-center">
    <h1 class="display-4">Error 500</h1>
    <h1 class="display-4">:( Algo salio mal.</h1>
    <h3 class="display-3">Intenta de nuevo mas tarde</h3>
</div>
