@{
    Layout = "~/Views/Shared/_MenuAdministradorLayout.cshtml";
}

<body>
    <div class="container" id="container">
        <div class="form-container registrarse-container">
            Bienvenido Usuario Administrador
        </div>
    </div>
</body>