@{
    ViewData["Title"] = "Algo salio mal";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">:( Algo salio mal.</h1>
    <h3 class="display-3">Intenta de nuevo mas tarde</h3>
</div>
