@{
    ViewData["Title"] = "Error de CSV";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">El archivo que intento subir no cumple con el formato</h1>
    <p>Suba un archivo .csv correspondiente a la opcion</p>
</div>
