@{
    ViewData["Title"] = "Cargar Cronogramas";
    Layout = "~/Views/Shared/_MenuAdministradorLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Subir Inscripciones</h1>
</div>

<form method="post" enctype="multipart/form-data" asp-controller="Drive" asp-action="UploadInscriptionsCSVFile">
    <div>
        <label for="file">Seleccionar archivo(.CSV):</label>
        <input type="file" name="file" id="file" />
    </div>
    <div>
        <button type="submit">Subir archivo</button>
    </div>
    <br />
    <div class="botones">
        <a class="btn btn-danger" asp-area="" asp-controller="Admin" asp-action="UploadCSVMigrationOptions">Cancelar</a>
    </div>
</form>