@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la Academia Cisco Fermin Toro</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
