@{
    ViewData["Title"] = "Iniciar Sesion";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
@model FerminToroWeb.Models.LoginViewModel
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="LoginAction" asp-controller="Home" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label for="Username">Usuario</label>
                <input class="form-control" id="Username" name="Username" type="text" value="@Model.Username" />
            </div>
            <div class="form-group">
                <label for="Password">Contraseña</label>
                <input class="form-control" id="Password" name="Password" type="password" value="@Model.Password" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </div>
        </form>
    </div>
</div>
