@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">:( Algo salio mal.</h1>
    <h3 class="display-3">Intenta nuevamente mas tarde</h3>
</div>
