@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<main role="main" class="pb-3">
    <div class="container" id="container">



        <div class="form-container login-container">
            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
                <h1>Usuario no encontrado</h1>
                <p>Intente de nuevo con un usuario registrado</p>
                <button>Volver a iniciar sesión</button>
            }
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <img src="~/img/logos/Logo_dark_letras.png" class="logo" style="max-width: 420px; max-height: 420px;">
                    <br />
                    <br />
                </div>
            </div>
        </div>

    </div>

</main>