@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Usuario no encontrado</h1>
    <h3 class="display-3">Intenta iniciar sesion nuevamente con un usuario registrado</h3>
</div>