@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Ocurrio un error al subir el archivo</h1>
    <p>No se pudo subir a Google Drive</p>
</div>
