@{
    ViewData["Title"] = "Archivo Subido";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Archivo subido con exito</h1>
    <p>Vuelva al inicio</p>
</div>
